$color__white: #FFF;
$color__light: #f5f8f9;
$color__black: #000000;
$color__dark: #151414;

$color__one: #ca257f;
$color__two: #ca2da8;
$color__two__light: rgb(224, 188, 72);

$color__one: rgb(45, 93, 202);
$color__two: #2576ca;