.my__resume {
    padding: 4rem 0;
    background-color: $color__white;

    main {
        // EDUCATION - WORK EXPEREINCES
        .education,
        .work {
            width: 48%;

            & > h2 {
                font-size: 1.5rem;
                font-family: $font-popp;
                color: lighten($color__black, 30%);
            }

            .items__holder {
                margin-top: 2rem;
                padding-left: 2rem;
                border-left: 2px solid;

                // ITEM
                .item {
                    margin-bottom: 2rem;
                    position: relative;
                    padding: 2rem 3rem;
                    background-color: $color__light;
                    clip-path: polygon(6% 0, 94% 0, 100% 50%, 94% 100%, 6% 100%, 0 50%);

                    // TITLE
                    .title {
                        padding: 1rem 0;
                        font-size: 1.1rem;
                        font-size: 1.2rem;
                    }

                    // INFO
                    .info {
                        & > p {
                            font-size: 1.1rem;
                            line-height: 1.6;
                            color: lighten($color__black, 40%);
                        }
                    }
                }
            }
        }
    }
}